.navbar {
  display: flex;
  background-color: #d9d9d9;
  justify-content: space-between;
}
.navbar .item {
  padding: 10px 10px;
}
.navbar .item:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}
.menu-items {
  z-index: 100;
  background-color: white;
}
